@model ReservaYa.Models.Espacios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Espacios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbicacionEnlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbicacionEnlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estacionamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estacionamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sanitarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sanitarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccesoSillaRuedas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccesoSillaRuedas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenPrev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenPrev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorias.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
