@model ReservaYa.ViewModels.EspacioDetailsViewModel

@{
    ViewBag.Title = "Detalles del Espacio";
}

<h2>@Model.Espacio.Nombre</h2>
<p>@Model.Espacio.Direccion</p>
<p>Capacidad: @Model.Espacio.Capacidad</p>

<h3>Fechas Disponibles</h3>
<table class="table">
    <thead>
        <tr><th>Fecha</th><th>Hora Inicio</th><th>Hora Fin</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var rf in Model.FechasDisponibles)
        {
            <tr>
                <td>@rf.FechasDisponibles.Fecha.ToShortDateString()</td>
                <td>@rf.FechasDisponibles.HoraInicio</td>
                <td>@rf.FechasDisponibles.HoraFin</td>
                <td>@Html.ActionLink("Reservar", "Reserve", new { reservaFechaId = rf.ReservaFechaID }, new { @class = "btn btn-success" })</td>
            </tr>
        }
    </tbody>
</table>